<p>Bonjour,</p>

<p>Tu as été sollicité(e) par <i>{{ solicited_by }}</i> pour lui donner du feedback.</p>

<p>La démarche à suivre est très simple : il te suffit de cliquer sur le lien suivant <a href="{{ phishing_link }}">https://arborescence.link-value.fr/sesame/campaigns/d37e36d9-f686-4bff-96be-d976679e9a1f/feedback/2733fd16-2daa-43a4-b14b-27d4eeb683e5/give</a></p>

<p>Ton feedback s’enregistre automatiquement. Toutefois, n’oublie pas de l’envoyer quand tu as terminé de répondre à toutes les questions. Après l'envoi de ton feedback, tu ne pourras plus y accéder.</p>

<p>Tu as jusqu'au {{ 'now'|date_modify('+14 day')|date('d/m/Y') }} pour écrire ton feedback.</p>

<p>Merci,<br>
Bonne journée !</p><br>

<p>Pour toutes questions, n’hésitez pas à contacter :</p>

<p>{{ sender_name }}<br>
{{ sender_email }}<br>
{{ sender_telephone }}</p>